<div class="container-fluid footer">
    <div class="row">

        <!-- name -->
        <div class="col-lg-6">
            <h1> Zap Store</h1>
        </div>



        <!-- socialmedia -->
        <div class="col-lg-2 ms-auto">
            <a href="https://www.instagram.com/" target="_blank"><i class="bi bi-instagram"></i></a>
            <a href="https://web.whatsapp.com/" target="_blank"><i class="bi bi-whatsapp"></i></a>
            <a href="https://twitter.com/?lang=en-gb" target="_blank"><i class="bi bi-twitter"></i></a>
            <a href="https://www.youtube.com/" target="_blank"><i class="bi bi-youtube"></i></a>
        </div>
    </div>

</div>