<div class="container mt-5 mb-5">

    <div class="row">

        <!-- here i am using structural directives - ngFor for looping,
         so that i can change the DOM layout by adding businesses -->
        <div class="col-lg-4" *ngFor="let d of businessDisplay">

            <div class="businessbox mt-3 mb-3">

                <!-- Data is coming in the json format from the backend and it is binding here through interpolation -->
                <img src={{d.businessImg}}>
                <h1>{{d.businessName}}</h1>
                <h3>{{d.assetType}}</h3>

                <h2>{{d.price | currency: 'PKR '}}</h2>
                <br />
                <a class="description" [routerLink]="['/business',d.id]">Show Details</a>
                <br>

            </div>
        </div>

    </div>

</div>