<section class="about">
    <div class="main">
        <img class="img"
            src="https://images.unsplash.com/photo-1521898284481-a5ec348cb555?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80">
        <div class="text">
            <h1 class="h1">About Us</h1>
            <h5 class="h5">Buying and Selling Online Businesses</h5>
            <p class="p">We remove friction from buying and selling websites.<br />
                The team is made up of folks with a broad range of interests, but we come together on one key thing, we
                love helping people buy and sell online businesses.</p>
            <button class="button" type="button">Let's Connect </button>
        </div>
    </div>
</section>