<section class="contact">
    <div class="content">
        <h2>
            Contact Us
        </h2>
        <p>
            Get updates delivered straight to your inbox.
        </p>
    </div>
    <br />
    <div class="container">
        <div class="containerInfo">
            <div class="box"></div>
            <div class="icon"><i class="bi bi-geo-alt-fill"></i></div>
            <h3>Address</h3>
            <p>National University of Sciences & Technology (NUST) Campus, Sector H-12, Islamabad, Pakistan</p>



            <div class="box"></div>
            <br />
            <div class="phone"><i class="bi bi-telephone-fill"></i></div>
            <h3>Phone</h3>
            <p>123-456-789</p>



            <div class="box"></div>
            <br />
            <div class="email"><i class="bi bi-envelope-fill"></i></div>
            <h3>Email</h3>
            <p>faryabakhsh@gmail.com</p>
            <p>ajwad@gmail.com
            </p>
            <p>sehrish@gmail.com</p>

        </div>



    </div>


</section>