div.form
{
    display: block;
    text-align: center;
}
form
{
    
    margin-left: 20%;
    margin-right: auto;
    text-align: left;
}
.button {
    text-align: center;
margin-left: 20%;
margin-right: auto;
text-align: left;

display: block;
}
